certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
cryptography==42.0.5
gTTS==2.5.4
idna==3.10
lxml==6.0.2
Markdown==3.5.2
opcua==0.98.13
paho-mqtt==1.6.1
pillow==11.1.0
playsound==1.2.2
psutil==7.1.0
PyAudio==0.2.14
pycparser==2.23
pygame==2.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
SpeechRecognition==3.14.3
typing_extensions==4.15.0
urllib3==2.5.0
